<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>

<style>
    .layout {
        width : 500px;
        margin : 0 auto;
        margin-top : 40px;
    }
</style>
<body>
    <div class="layout">
        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                </tr>
            </thead>
            <tbody>
                <!--each 반복문 끝까지 반복-->
                <tr th:each="board : ${list}">
                    <td th:text="${board.id}"></td>
                    <!--href 링크에 뷰 매핑 값을 넣어줌 -->
                    <td>
                        <a th:text="${board.title}"  th:href="@{/board/view(id=${board.id})}"></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>